.row{
    margin-top: 5px;
    float:right;
    width: 930px;
    margin-left:10px;
    border-radius: 30px;  
}

.table {
   align-self: auto;
   
}

.table td{
    font-size: 15px;
}

.replybox{
    width: 280px;
    height: 40px;
}

.myTweetbody tr{
    border-radius: 20px;
}

